<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Callback</title>
  </head>
  <body>
    <button id="github-login">GitHub Login</button><br />
    <button id="facebook-login">Facebook Login</button><br />
    Username:<br />
    <input id="username" type="text" name="username" /><br />
    Email:<br />
    <input id="email" type="text" name="email" /><br />
    Password:<br />
    <input id="password" type="password" name="password" /><br />
    <button id="register">Register</button>
    <button id="login">Log In</button>
    <script>

      // GitHub login
      var githubLogin = document.getElementById('github-login');
      githubLogin.onclick = function(e) {
        var github = window.open('/api/v1/auth/provider/github');
        github.callback = function(context) {
          console.log(context);
        };
      };

      // Facebook login
      var facebookLogin = document.getElementById('facebook-login');
      facebookLogin.onclick = function(e) {
        var facebook = window.open('/api/v1/auth/provider/facebook');
        facebook.callback = function(context) {
          console.log(context);
        };
      };

      // Register
      var register = document.getElementById('register');
      register.onclick = function(e) {
        var username = document.getElementById('username').value;
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            context = JSON.parse(xhr.responseText).data;
            console.log(context);
          }
        };
        xhr.open('POST', '/api/v1/auth/register', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
          username: username,
          email: email,
          password: password
        }));
      };

      // Login
      var login = document.getElementById('login');
      login.onclick = function(e) {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            context = JSON.parse(xhr.responseText).data;
            console.log(context);
          }
        };
        xhr.open('GET', `/api/v1/auth/login?username=${username}&password=${password}`, true);
        xhr.send();
      };
    </script>
  </body>
</html>
